﻿
@{
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
    ViewData["Title"] = "Create User";
}

@using (Html.BeginForm("CreateUserAccount", "Login", FormMethod.Post))
{

    @if (Model != null)
    {
        if (Model.tyc)
        {
            <div id="mensaje2" class="mensaje-alert">
                @Model.error
            </div>

        }
    }

    <!-- Signup Form -->
    <div class="app-contant">
        <div class="bg-dark">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-sm-6 col-lg-5 col-xxl-3  align-self-center order-2 order-sm-1">
                        <div class="d-flex align-items-center h-100-vh">
                            <div class="register p-50">
                                <div class="text-center mb-4">
                                    <a href="~/"><img src="~/img/logo_sr.png" width="50%" /></a>
                                </div>
                                <h1 class="mb-2 text-center">Crear Usuario</h1>
                                <p class="text-center">Bienvenido, favor de crear cuenta</p>
                                <form action="login.cshtml" class="mt-3 mt-sm-5">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="control-label" for="Alias">Elija Usuario</label>
                                                <input type="text" id="txtAlias" name="Alias" class="form-control" placeholder="6 a 12 caracteres sin espacios" />
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="control-label" for="Pass1">Ingresa una contraseña</label>
                                                <input type="password" id="Pass1" name="Pass1" class="form-control" placeholder="Ingresar contraseña" />
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="control-label" for="confPass">Vuelva colocar la misma contraseña</label>
                                                <input type="password" id="Pass2" name="confPass" class="form-control" placeholder="Confirmar contraseña" />
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-block d-sm-flex  align-items-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="acepto-terminos">
                                                    <label class="form-check-label" for="acepto-terminos">
                                                        <a href="@Url.Action("tyc", "CRegistro")">Acepto términos y condiciones</a>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <input type="submit" class="btn btn-primary text-uppercase" value="Crear cuenta" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xxl-9 col-lg-7 bg-sensroom o-hidden order-1 order-sm-2">
                        <div class="row align-items-center h-100">
                            <div class="col-7 mx-auto ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<!--end login contant-->
