﻿
@{
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
    ViewData["Title"] = "login";
}

<!--start login contant-->
<div class="app-contant">
    <div class="bg-dark">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-sm-6 col-lg-5 col-xxl-3  align-self-center order-2 order-sm-1">
                    <div class="d-flex align-items-center h-100-vh">
                        <div class="login p-50">
                            <div class="text-center mb-4">
                                <a href="~/"><img src="~/img/logo_sr.png" width="50%" /></a>
                            </div>
                            <h1 class="mb-2 text-center">Iniciar Sesión</h1>
                            <p class="text-center">Bienvenido nuevamente, favor de ingresar sus credenciales.</p>
                            <form action="login.cshtml" class="mt-3 mt-sm-5">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="control-label">Usuario</label>
                                            <input type="text" class="form-control" placeholder="Nombre de usuario" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="control-label">Contraseña</label>
                                            <input type="password" class="form-control" placeholder="Colocar contraseña" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-block d-sm-flex  align-items-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                                <label class="form-check-label" for="gridCheck">
                                                    Recordarme
                                                </label>
                                            </div>
                                            <a href="javascript:void(0);" class="ml-auto">¿Olvidaste la contraseña ?</a>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <a href="index.html" class="btn btn-primary text-uppercase">Entrar</a>
                                    </div>
                                    <div class="col-12  mt-3">
                                        <p>¿No tienes una cuenta ?<a href="~/login/CreateUser"> Registrarme</a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xxl-9 col-lg-7 bg-sensroom o-hidden order-1 order-sm-2">
                    <div class="row align-items-center h-100">
                        <div class="col-7 mx-auto ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end login contant-->
