﻿@{
    ViewData["Title"] = "Home Page";
}
    <link href="~/css/gobalHome.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
    
    <header class="showcase">
        <div class="showcase-top">

            <a href="~/login" class="btn btn-rounded">Iniciar Sesión</a>
        </div>
        <div class="showcase-content">
            <img src="~/img/logo_sr.png" alt="" />
            <h1>Lorem ipsum dolor sit amet</h1>
            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate</p>
            <a href="#all-moreinfo" class="btn btn-xl" data-scroll2 data-toggle="smooth-scroll" data-offset="0">
                CONOCER MÁS <i class="fas fa-chevron-right btn-icon"></i>
            </a>
        </div>
    </header>
	<section id="all-moreinfo" class="woman-content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-5">
                    <h2 class="text-lg text-shadow-2">
                        Placer y privacidad, todo en un lugar
                    </h2>
                    <p class="mb-20  text-shadow-2">Donec vestibulum nec felis ut dictum. Suspendisse dictum lorem id neque facilisis feugiat.</p>
                    <a href="~/login/CreateUser" class="btn btn-lg">REGISTRARSE</a>
                </div>
            </div>
        </div>
		
	</section>
	<section class="device-all">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<img src="~/img/device-pile.png" />
				</div>
                <div class="col-lg-4 col-md-12">
                    <h2 class="text-lg text-shadow-2">
                        Donde sea y en cualquier dispositivo
                    </h2>
                    <p class="mb-20  text-shadow-2">Donec vestibulum nec felis ut dictum. Suspendisse dictum lorem id neque facilisis feugiat.</p>
                    <a href="~/login/CreateUser" class="btn btn-lg">REGISTRARSE</a>
                </div>
			</div>
		</div>
	</section>
	<footer class="footer">
        <div class="container full">
            <div class="row">
                <div class="col-12 col-lg-6 col-md-6 blok-code">
                    <p>
                        Si cuentas con un código de registro, favor de colocarlo a continuación
                    </p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Código de registro" aria-label="Código de registro" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">INGRESAR</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <ul>
                                <li><a href="#">Preguntas Frecuentes</a></li>
                                <li><a href="#">Formas de pago</a></li>
                                <li><a href="#">Terminos de Uso</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <ul>
                                <li><a href="#">Cuenta</a></li>
                                <li><a href="#">Privacidad</a></li>
                                <li><a href="#">Aviso Legal</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 social-list">
                            <h6>Contacto</h6>
                            <a href="#" target="_blank">
                                <i class="fas fa-envelope h4"></i>
                            </a>

                            <a href="#" target="_blank">
                                <i class="fab fa-instagram h4"></i>
                            </a>

                            <a href="#" target="_blank">
                                <i class="fab fa-twitter h4"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</footer>
