﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SensRoom</title>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
    <!-- System Style -->
    <link href="~/css/system.css" rel="stylesheet" />
</head>
<body class="bg-dark">
    <!-- begin app -->
    <div class="app">
        <div class="app-wrap">
            <!-- begin pre-loader -->
            <div class="loader">
                <div class="h-100 d-flex justify-content-center">
                    <div class="align-self-center">
                        <img src="~/img/loader/puff.svg" alt="loader">
                    </div>
                </div>
            </div>
            <!-- end pre-loader -->
            @RenderBody()

            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <!--Sytem AppFront Scripts -->
            <script src="~/js/appFront.js"></script>
            @RenderSection("Scripts", required: false)
        </div>
    </div>
        <!-- end app -->
</body>
</html>
